$font: 20px;
$btnColor: blue;
$color: red;

.hello-world-button {
  font-size: $font;
  padding: 7px 15px;
  background: $btnColor;
  color: white;
  outline: none;
}

.hello-world-text {
  color: $color;
}
